# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Uploaded files
python-app/uploads/*
!python-app/uploads/.gitkeep

# Logs
*.log

# Docker volumes
elasticsearch-data/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# Angular
angular-frontend/node_modules/
angular-frontend/dist/
angular-frontend/.angular/
angular-frontend/.env
angular-frontend/.vscode/
angular-frontend/.idea/
angular-frontend/package-lock.json

# Spring Boot/Gradle
spring-backend/build/
spring-backend/out/
spring-backend/.gradle/
spring-backend/.idea/
spring-backend/.vscode/
spring-backend/*.iml
spring-backend/gradle-app.setting
spring-backend/.env